.h1body{

    color: #ffffff;
    background-image: url(https://t4.ftcdn.net/jpg/05/59/09/83/360_F_559098358_ebggA3SsdxT1OLAZBpYx6x1sfNy1n4BI.jpg);
    text-transform: uppercase;
    text-align: center;
    padding: 3rem 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 5rem;
}

.card-body{

    background-color: black;
}

.card-title{

    color: #B80000;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
}

.card-text{

    color: #ffffff;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.card{

    margin: 5rem;
    display: flex;
    justify-content: center;
    border-color: #ffffff;
    border-style: dashed;
    border-radius: 0;
}

.card-img-top{

    background-color: black;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
}

.btn-primary{

    background-color: white;
    color: black;
    font-weight: bold;

}

.navbar-brand{

    margin: 1rem;
    font-size: 2rem;
    color: #B80000;
    text-transform: uppercase;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.card-ok{

    display: flexbox;
    justify-content: center;
    margin: 2rem;

}

.abajo{

    background-color: white;
    color: black;
    padding: 2rem;
    display: flex;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;

}

.faceig{

    width: 3rem; 
    margin: 10px;
}

.div-is{
    display: flex;
    justify-content: center;
    color: white;
    font-weight: bold;

}
body h2{

margin: 1rem;
display: flex;
justify-content: center;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
color: #B80000;

}

.carrusel{

    width:  40rem;
    overflow: hidden;
    margin: 0 auto;
}

.nav-link{

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #B80000;
    text-transform: uppercase;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2rem;


}
